<h3>fn + mut helper</h3>

<ul>
  <li>
    {{#link-to "working"}}
      Example using <code>@action</code> (and no <code>(fn)</code> or <code>(mut)</code>)
    {{/link-to}}
  </li>
  <li>
    {{#link-to "failing"}}
      Example using <code>(fn (mut this.isShown) )</code>
    {{/link-to}}
  </li>
</ul>